body{
    background-color: #f3ebfa;
    font-family: Verdana, Tahoma, sans-serif;
}

.foto{
    width: 100px;
    height: 100px;
    border: 3px solid red;
    border-radius: 50%;

}

#title, .subtitle, .post_title{
    color: red;
}

#title{
    font-size: 40px;
    text-transform: uppercase;
}

a{
    text-decoration: line-through;
    color: red;
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px; 
}

.post{
    background-color: white;
    padding: 15px;
    border: 3px solid red;
    margin-bottom: 15px;
    border-radius: 10px;
}

.post_content{
    margin: 0;
    margin-bottom: 15px; 
    text-transform: capitalize;
}

.post_image{
    margin: 0;
    margin-bottom: 15px; 
}

.contacts_list{
    list-style-type: none; /*none remove os marcadores*/
    padding-left: 15px;
}

.contacts_list li a{
   text-decoration: none;
  }
